USE [master]
GO
/****** Object:  Database [KFC_FASTFOOD]    Script Date: 12/23/2019 23:23:40 ******/
CREATE DATABASE [KFC_FASTFOOD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KFC_FASTFOOD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\KFC_FASTFOOD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KFC_FASTFOOD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\KFC_FASTFOOD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KFC_FASTFOOD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KFC_FASTFOOD]
GO
/****** Object:  Table [dbo].[tbl_BangCap]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BangCap](
	[BangCapID] [int] IDENTITY(1,1) NOT NULL,
	[TenBangCap] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BangCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BoPhan]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BoPhan](
	[BoPhanID] [int] IDENTITY(1,1) NOT NULL,
	[TenBoPhan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BoPhanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ChamCong]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChamCong](
	[ChamCongID] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [char](10) NULL,
	[NgayCongChuan] [int] NULL,
	[BoPhanID] [int] NULL,
	[NhanVienID] [int] NULL,
	[NgayDiLam] [int] NULL,
	[NgayNghi] [int] NULL,
	[NgayTinhLuong] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChamCongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ChiTietBanKeLuong]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChiTietBanKeLuong](
	[ChiTietBanKeLuongID] [int] IDENTITY(1,1) NOT NULL,
	[ThangKeLuong] [char](10) NULL,
	[NhanVienID] [int] NULL,
	[TienLuongCung] [float] NULL,
	[NgayCongChuan] [int] NULL,
	[NgayTinhLuong] [int] NULL,
	[PhuCap] [float] NULL,
	[TongLuong] [float] NULL,
	[ThucLinh] [float] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK__tbl_ChiT__F93653E302BB2421] PRIMARY KEY CLUSTERED 
(
	[ChiTietBanKeLuongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ChucDanh]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChucDanh](
	[ChucDanhID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucDanh] [nvarchar](50) NULL,
	[TienLuong] [float] NULL,
	[PhuCap] [float] NULL,
 CONSTRAINT [PK_tbl_ChucDanh] PRIMARY KEY CLUSTERED 
(
	[ChucDanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CTHD]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CTHD](
	[MaHD] [nvarchar](100) NOT NULL,
	[MaSP] [nvarchar](100) NULL,
	[SLMua] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DanToc]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DanToc](
	[DanTocID] [int] IDENTITY(1,1) NOT NULL,
	[TenDanToc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DanTocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GioiTinh]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GioiTinh](
	[GioiTinhID] [bit] NOT NULL,
	[GioiTinh] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GioiTinhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HoaDon]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HoaDon](
	[MaHD] [nvarchar](100) NOT NULL,
	[TenKhach] [nvarchar](100) NULL,
	[NhanVienID] [int] NULL,
	[NgayLapHD] [date] NULL,
	[TongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HoSoNhanVien]    Script Date: 12/23/2019 23:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HoSoNhanVien](
	[NhanVienID] [int] NOT NULL,
	[NgayVaoLam] [date] NULL,
	[DanTocID] [int] NULL,
	[TonGiaoID] [int] NULL,
	[TinhThanhID] [int] NULL,
	[BangCapID] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LoaiSP]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LoaiSP](
	[LoaiSPID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiSPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NghiepVu]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NghiepVu](
	[NghiepVuID] [int] IDENTITY(1,1) NOT NULL,
	[TenNghiepVu] [nvarchar](50) NULL,
	[URL] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[NghiepVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NguoiDung]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NguoiDung](
	[NguoiDungID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[QuanTri] [bit] NULL,
	[NhanVienID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NguoiDungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NhaCungCap]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NhaCungCap](
	[NCCID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NCCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NhanVien]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NhanVien](
	[NhanVienID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinhID] [bit] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [nvarchar](11) NULL,
	[Email] [nvarchar](150) NULL,
	[CMND] [nvarchar](10) NULL,
	[TrangThaiID] [bit] NULL,
 CONSTRAINT [PK__tbl_Nhan__E27FD7EA9D3B8CF5] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NhanVienBoPhan]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NhanVienBoPhan](
	[NhanVienID] [int] NOT NULL,
	[BoPhanID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_NhanVienBoPhan] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NhanVienChucDanh]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NhanVienChucDanh](
	[NhanVienID] [int] NOT NULL,
	[ChucDanhID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_NhanVienChucDanh] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_QuyenNguoiDung]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_QuyenNguoiDung](
	[NguoiDungID] [int] NOT NULL,
	[NghiepVuID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NguoiDungID] ASC,
	[NghiepVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SanPham]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SanPham](
	[MaSP] [nvarchar](100) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[NCCID] [int] NULL,
	[GiaTien] [float] NULL,
	[GiamGia] [int] NULL,
	[SoLuong] [int] NULL,
	[LoaiSPID] [int] NULL,
 CONSTRAINT [PK__tbl_SanP__2725081C878FB524] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ThongTinCH]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ThongTinCH](
	[StoreID] [int] NOT NULL,
	[CuaHang] [nvarchar](500) NULL,
	[DiaChiCH] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ThongTinCty]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ThongTinCty](
	[TenCTy] [nvarchar](500) NULL,
	[DiaChiCTy] [nvarchar](500) NULL,
	[MaSoThue] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TinhThanh]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TinhThanh](
	[TinhThanhID] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhThanh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TinhThanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TonGiao]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TonGiao](
	[TonGiaoID] [int] IDENTITY(1,1) NOT NULL,
	[TenTonGiao] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TonGiaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_BangCap] ON 

INSERT [dbo].[tbl_BangCap] ([BangCapID], [TenBangCap]) VALUES (1, N'Đại học chính quy')
INSERT [dbo].[tbl_BangCap] ([BangCapID], [TenBangCap]) VALUES (2, N'Cao đẳng')
INSERT [dbo].[tbl_BangCap] ([BangCapID], [TenBangCap]) VALUES (3, N'Thạc sĩ')
SET IDENTITY_INSERT [dbo].[tbl_BangCap] OFF
SET IDENTITY_INSERT [dbo].[tbl_BoPhan] ON 

INSERT [dbo].[tbl_BoPhan] ([BoPhanID], [TenBoPhan]) VALUES (2, N'Văn phòng')
INSERT [dbo].[tbl_BoPhan] ([BoPhanID], [TenBoPhan]) VALUES (4, N'Cửa hàng')
SET IDENTITY_INSERT [dbo].[tbl_BoPhan] OFF
SET IDENTITY_INSERT [dbo].[tbl_ChamCong] ON 

INSERT [dbo].[tbl_ChamCong] ([ChamCongID], [Thang], [NgayCongChuan], [BoPhanID], [NhanVienID], [NgayDiLam], [NgayNghi], [NgayTinhLuong], [GhiChu], [TrangThai]) VALUES (1, N'201912    ', 26, 2, 1, 0, 0, 0, N'', 1)
INSERT [dbo].[tbl_ChamCong] ([ChamCongID], [Thang], [NgayCongChuan], [BoPhanID], [NhanVienID], [NgayDiLam], [NgayNghi], [NgayTinhLuong], [GhiChu], [TrangThai]) VALUES (2, N'201912    ', 26, 2, 2, 0, 0, 0, N'', 1)
INSERT [dbo].[tbl_ChamCong] ([ChamCongID], [Thang], [NgayCongChuan], [BoPhanID], [NhanVienID], [NgayDiLam], [NgayNghi], [NgayTinhLuong], [GhiChu], [TrangThai]) VALUES (3, N'201912    ', 26, 2, 3, 0, 0, 0, N'', 1)
SET IDENTITY_INSERT [dbo].[tbl_ChamCong] OFF
SET IDENTITY_INSERT [dbo].[tbl_ChiTietBanKeLuong] ON 

INSERT [dbo].[tbl_ChiTietBanKeLuong] ([ChiTietBanKeLuongID], [ThangKeLuong], [NhanVienID], [TienLuongCung], [NgayCongChuan], [NgayTinhLuong], [PhuCap], [TongLuong], [ThucLinh], [TrangThai]) VALUES (1, N'201911    ', 1, 20000000, 26, 26, 100000, 20000000, 20100000, 2)
INSERT [dbo].[tbl_ChiTietBanKeLuong] ([ChiTietBanKeLuongID], [ThangKeLuong], [NhanVienID], [TienLuongCung], [NgayCongChuan], [NgayTinhLuong], [PhuCap], [TongLuong], [ThucLinh], [TrangThai]) VALUES (2, N'201911    ', 2, 6000000, 26, 26, 24000, 6000000, 6024000, 2)
INSERT [dbo].[tbl_ChiTietBanKeLuong] ([ChiTietBanKeLuongID], [ThangKeLuong], [NhanVienID], [TienLuongCung], [NgayCongChuan], [NgayTinhLuong], [PhuCap], [TongLuong], [ThucLinh], [TrangThai]) VALUES (3, N'201911    ', 3, 15000000, 26, 26, 105000, 15000000, 15105000, 2)
SET IDENTITY_INSERT [dbo].[tbl_ChiTietBanKeLuong] OFF
SET IDENTITY_INSERT [dbo].[tbl_ChucDanh] ON 

INSERT [dbo].[tbl_ChucDanh] ([ChucDanhID], [TenChucDanh], [TienLuong], [PhuCap]) VALUES (1, N'Lập trình viên', 20000000, 0.5)
INSERT [dbo].[tbl_ChucDanh] ([ChucDanhID], [TenChucDanh], [TienLuong], [PhuCap]) VALUES (2, N'Nhân viên', 6000000, 0.4)
INSERT [dbo].[tbl_ChucDanh] ([ChucDanhID], [TenChucDanh], [TienLuong], [PhuCap]) VALUES (3, N'Quản lý', 15000000, 0.7)
SET IDENTITY_INSERT [dbo].[tbl_ChucDanh] OFF
INSERT [dbo].[tbl_CTHD] ([MaHD], [MaSP], [SLMua]) VALUES (N'HD001', N'SP001', 1)
INSERT [dbo].[tbl_CTHD] ([MaHD], [MaSP], [SLMua]) VALUES (N'HD002', N'SP004', 1)
INSERT [dbo].[tbl_CTHD] ([MaHD], [MaSP], [SLMua]) VALUES (N'HD001', N'SP002', 1)
SET IDENTITY_INSERT [dbo].[tbl_DanToc] ON 

INSERT [dbo].[tbl_DanToc] ([DanTocID], [TenDanToc]) VALUES (1, N'Kinh')
INSERT [dbo].[tbl_DanToc] ([DanTocID], [TenDanToc]) VALUES (2, N'Thái')
INSERT [dbo].[tbl_DanToc] ([DanTocID], [TenDanToc]) VALUES (3, N'Ê Đê')
SET IDENTITY_INSERT [dbo].[tbl_DanToc] OFF
INSERT [dbo].[tbl_GioiTinh] ([GioiTinhID], [GioiTinh]) VALUES (0, N'Nữ')
INSERT [dbo].[tbl_GioiTinh] ([GioiTinhID], [GioiTinh]) VALUES (1, N'Nam')
INSERT [dbo].[tbl_HoaDon] ([MaHD], [TenKhach], [NhanVienID], [NgayLapHD], [TongTien]) VALUES (N'HD001', N'Anh Hùng', 1, CAST(N'2019-11-27' AS Date), 128000)
INSERT [dbo].[tbl_HoaDon] ([MaHD], [TenKhach], [NhanVienID], [NgayLapHD], [TongTien]) VALUES (N'HD002', N'Anh Minh', 1, CAST(N'2019-11-27' AS Date), 114960)
INSERT [dbo].[tbl_HoaDon] ([MaHD], [TenKhach], [NhanVienID], [NgayLapHD], [TongTien]) VALUES (N'HD003', N'Hùng Đẹp Trai', 1, CAST(N'2018-11-27' AS Date), 128000)
INSERT [dbo].[tbl_HoSoNhanVien] ([NhanVienID], [NgayVaoLam], [DanTocID], [TonGiaoID], [TinhThanhID], [BangCapID], [GhiChu], [ImagePath]) VALUES (1, CAST(N'2019-11-30' AS Date), 1, 9, 10, 3, N'', N'\AnhNV\Anh2.jpg')
INSERT [dbo].[tbl_HoSoNhanVien] ([NhanVienID], [NgayVaoLam], [DanTocID], [TonGiaoID], [TinhThanhID], [BangCapID], [GhiChu], [ImagePath]) VALUES (2, CAST(N'2019-11-30' AS Date), 1, 4, 10, 1, N'', N'\AnhNV\Anh1025.JPG')
INSERT [dbo].[tbl_HoSoNhanVien] ([NhanVienID], [NgayVaoLam], [DanTocID], [TonGiaoID], [TinhThanhID], [BangCapID], [GhiChu], [ImagePath]) VALUES (3, CAST(N'2019-11-30' AS Date), 1, 4, 56, 1, N'', N'\AnhNV\Anh1027.jpg')
SET IDENTITY_INSERT [dbo].[tbl_LoaiSP] ON 

INSERT [dbo].[tbl_LoaiSP] ([LoaiSPID], [TenLoaiSP]) VALUES (1, N'Món ăn')
INSERT [dbo].[tbl_LoaiSP] ([LoaiSPID], [TenLoaiSP]) VALUES (2, N'Thức uống')
SET IDENTITY_INSERT [dbo].[tbl_LoaiSP] OFF
SET IDENTITY_INSERT [dbo].[tbl_NghiepVu] ON 

INSERT [dbo].[tbl_NghiepVu] ([NghiepVuID], [TenNghiepVu], [URL]) VALUES (1, N'Quản lý hệ thống', N'SystemManager')
INSERT [dbo].[tbl_NghiepVu] ([NghiepVuID], [TenNghiepVu], [URL]) VALUES (2, N'Quản lý nhân sự', N'EmployessManager')
INSERT [dbo].[tbl_NghiepVu] ([NghiepVuID], [TenNghiepVu], [URL]) VALUES (3, N'Quản lý tiền lương', N'SalaryManager')
SET IDENTITY_INSERT [dbo].[tbl_NghiepVu] OFF
SET IDENTITY_INSERT [dbo].[tbl_NguoiDung] ON 

INSERT [dbo].[tbl_NguoiDung] ([NguoiDungID], [TenDangNhap], [MatKhau], [QuanTri], [NhanVienID]) VALUES (1, N'admin', N'ynmBNWanNb/lHyVvA35l7A==', 1, 1)
INSERT [dbo].[tbl_NguoiDung] ([NguoiDungID], [TenDangNhap], [MatKhau], [QuanTri], [NhanVienID]) VALUES (2, N'anhthy', N'ynmBNWanNb/lHyVvA35l7A==', 0, 2)
INSERT [dbo].[tbl_NguoiDung] ([NguoiDungID], [TenDangNhap], [MatKhau], [QuanTri], [NhanVienID]) VALUES (3, N'phuongtien', N'ynmBNWanNb/lHyVvA35l7A==', 0, 3)
SET IDENTITY_INSERT [dbo].[tbl_NguoiDung] OFF
SET IDENTITY_INSERT [dbo].[tbl_NhaCungCap] ON 

INSERT [dbo].[tbl_NhaCungCap] ([NCCID], [TenNhaCungCap]) VALUES (1, N'Công Ty TNHH Nước Giải Khát Suntory PepsiCo Việt Nam')
INSERT [dbo].[tbl_NhaCungCap] ([NCCID], [TenNhaCungCap]) VALUES (2, N'Công Ty TNHH Nước Giải Khát Coca-Cola Việt Nam')
INSERT [dbo].[tbl_NhaCungCap] ([NCCID], [TenNhaCungCap]) VALUES (3, N'Công Ty Liên Doanh TNHH KFC Việt Nam')
SET IDENTITY_INSERT [dbo].[tbl_NhaCungCap] OFF
SET IDENTITY_INSERT [dbo].[tbl_NhanVien] ON 

INSERT [dbo].[tbl_NhanVien] ([NhanVienID], [MaNV], [TenNV], [NgaySinh], [GioiTinhID], [DiaChi], [SDT], [Email], [CMND], [TrangThaiID]) VALUES (1, N'NV001', N'Nguyễn Hoàng Minh Hùng', CAST(N'1999-02-04' AS Date), 1, N'77/7 Tân lập 2, P.Hiệp Phú, Q.9, TP.HCM', N'868466497', N'me@17dtha2.com', N'846455789', 1)
INSERT [dbo].[tbl_NhanVien] ([NhanVienID], [MaNV], [TenNV], [NgaySinh], [GioiTinhID], [DiaChi], [SDT], [Email], [CMND], [TrangThaiID]) VALUES (2, N'NV002', N'Nguyễn Anh Thy', CAST(N'1999-06-03' AS Date), 1, N'132 Lê Văn Việt, Q.9, TP.HCM', N'0868466499', N'anhthy@17dtha2.com', N'261547355', 1)
INSERT [dbo].[tbl_NhanVien] ([NhanVienID], [MaNV], [TenNV], [NgaySinh], [GioiTinhID], [DiaChi], [SDT], [Email], [CMND], [TrangThaiID]) VALUES (3, N'NV003', N'Nguyễn Thị Phương Tiền', CAST(N'1999-04-11' AS Date), 0, N'66 Đường số 2, Q.9, TP.HCM', N'0911564449', N'phuongtien@17dtha2.com', N'364577755', 1)
SET IDENTITY_INSERT [dbo].[tbl_NhanVien] OFF
INSERT [dbo].[tbl_NhanVienBoPhan] ([NhanVienID], [BoPhanID]) VALUES (1, 2)
INSERT [dbo].[tbl_NhanVienBoPhan] ([NhanVienID], [BoPhanID]) VALUES (2, 2)
INSERT [dbo].[tbl_NhanVienBoPhan] ([NhanVienID], [BoPhanID]) VALUES (3, 2)
INSERT [dbo].[tbl_NhanVienChucDanh] ([NhanVienID], [ChucDanhID]) VALUES (1, 1)
INSERT [dbo].[tbl_NhanVienChucDanh] ([NhanVienID], [ChucDanhID]) VALUES (2, 5)
INSERT [dbo].[tbl_NhanVienChucDanh] ([NhanVienID], [ChucDanhID]) VALUES (3, 3)
INSERT [dbo].[tbl_QuyenNguoiDung] ([NguoiDungID], [NghiepVuID]) VALUES (1, 1)
INSERT [dbo].[tbl_QuyenNguoiDung] ([NguoiDungID], [NghiepVuID]) VALUES (1, 2)
INSERT [dbo].[tbl_QuyenNguoiDung] ([NguoiDungID], [NghiepVuID]) VALUES (1, 3)
INSERT [dbo].[tbl_SanPham] ([MaSP], [TenSP], [NCCID], [GiaTien], [GiamGia], [SoLuong], [LoaiSPID]) VALUES (N'SP001', N'Pepsi (Lon)', 1, 12000, 1, 494, 2)
INSERT [dbo].[tbl_SanPham] ([MaSP], [TenSP], [NCCID], [GiaTien], [GiamGia], [SoLuong], [LoaiSPID]) VALUES (N'SP002', N'Coca-Cola (Lon)', 2, 12000, 0, 498, 2)
INSERT [dbo].[tbl_SanPham] ([MaSP], [TenSP], [NCCID], [GiaTien], [GiamGia], [SoLuong], [LoaiSPID]) VALUES (N'SP003', N'Hot Wings (3 miếng)', 3, 49000, 0, 500, 1)
INSERT [dbo].[tbl_ThongTinCH] ([StoreID], [CuaHang], [DiaChiCH]) VALUES (111, N'KFC LÊ VĂN VIỆT', N'193 Lê Văn Việt, P.Hiệp Phú, Q.9, TPHCM')
INSERT [dbo].[tbl_ThongTinCty] ([TenCTy], [DiaChiCTy], [MaSoThue]) VALUES (N'CN Cty LD TNHH KFC Việt Nam', N'1 Bạch Đằng, P2, Tân Bình', N'0100773885001')
SET IDENTITY_INSERT [dbo].[tbl_TinhThanh] ON 

INSERT [dbo].[tbl_TinhThanh] ([TinhThanhID], [TenTinhThanh]) VALUES (1, N'Bà Rịa – Vũng Tàu')
INSERT [dbo].[tbl_TinhThanh] ([TinhThanhID], [TenTinhThanh]) VALUES (2, N'Bắc Giang')
INSERT [dbo].[tbl_TinhThanh] ([TinhThanhID], [TenTinhThanh]) VALUES (3, N'Bắc Kạn')
SET IDENTITY_INSERT [dbo].[tbl_TinhThanh] OFF
SET IDENTITY_INSERT [dbo].[tbl_TonGiao] ON 

INSERT [dbo].[tbl_TonGiao] ([TonGiaoID], [TenTonGiao]) VALUES (1, N'Thiên chúa giáo')
INSERT [dbo].[tbl_TonGiao] ([TonGiaoID], [TenTonGiao]) VALUES (2, N'Kito giáo')
INSERT [dbo].[tbl_TonGiao] ([TonGiaoID], [TenTonGiao]) VALUES (3, N'Tin lành')
SET IDENTITY_INSERT [dbo].[tbl_TonGiao] OFF
ALTER TABLE [dbo].[tbl_ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_BoPhan] FOREIGN KEY([BoPhanID])
REFERENCES [dbo].[tbl_BoPhan] ([BoPhanID])
GO
ALTER TABLE [dbo].[tbl_ChamCong] CHECK CONSTRAINT [FK_ChamCong_BoPhan]
GO
ALTER TABLE [dbo].[tbl_ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[tbl_NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[tbl_ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[tbl_ChiTietBanKeLuong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBanKeLuong_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[tbl_NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[tbl_ChiTietBanKeLuong] CHECK CONSTRAINT [FK_ChiTietBanKeLuong_NhanVien]
GO
ALTER TABLE [dbo].[tbl_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tbl_HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[tbl_CTHD] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[tbl_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tbl_SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[tbl_CTHD] CHECK CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[tbl_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[tbl_NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[tbl_HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_BangCap] FOREIGN KEY([BangCapID])
REFERENCES [dbo].[tbl_BangCap] ([BangCapID])
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_BangCap]
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_DanToc] FOREIGN KEY([DanTocID])
REFERENCES [dbo].[tbl_DanToc] ([DanTocID])
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_DanToc]
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[tbl_NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_NhanVien]
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_TinhThanh] FOREIGN KEY([TinhThanhID])
REFERENCES [dbo].[tbl_TinhThanh] ([TinhThanhID])
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_TinhThanh]
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoNhanVien_TonGiao] FOREIGN KEY([TonGiaoID])
REFERENCES [dbo].[tbl_TonGiao] ([TonGiaoID])
GO
ALTER TABLE [dbo].[tbl_HoSoNhanVien] CHECK CONSTRAINT [FK_HoSoNhanVien_TonGiao]
GO
ALTER TABLE [dbo].[tbl_NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[tbl_NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[tbl_NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_NhanVien]
GO
ALTER TABLE [dbo].[tbl_NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_GioiTinh] FOREIGN KEY([GioiTinhID])
REFERENCES [dbo].[tbl_GioiTinh] ([GioiTinhID])
GO
ALTER TABLE [dbo].[tbl_NhanVien] CHECK CONSTRAINT [FK_NhanVien_GioiTinh]
GO
ALTER TABLE [dbo].[tbl_NhanVienBoPhan]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienBoPhan_BoPhan] FOREIGN KEY([BoPhanID])
REFERENCES [dbo].[tbl_BoPhan] ([BoPhanID])
GO
ALTER TABLE [dbo].[tbl_NhanVienBoPhan] CHECK CONSTRAINT [FK_NhanVienBoPhan_BoPhan]
GO
ALTER TABLE [dbo].[tbl_NhanVienBoPhan]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienBoPhan_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[tbl_NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[tbl_NhanVienBoPhan] CHECK CONSTRAINT [FK_NhanVienBoPhan_NhanVien]
GO
ALTER TABLE [dbo].[tbl_NhanVienChucDanh]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienChucDanh_ChucDanh] FOREIGN KEY([ChucDanhID])
REFERENCES [dbo].[tbl_ChucDanh] ([ChucDanhID])
GO
ALTER TABLE [dbo].[tbl_NhanVienChucDanh] CHECK CONSTRAINT [FK_NhanVienChucDanh_ChucDanh]
GO
ALTER TABLE [dbo].[tbl_NhanVienChucDanh]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienChucDanh_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[tbl_NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[tbl_NhanVienChucDanh] CHECK CONSTRAINT [FK_NhanVienChucDanh_NhanVien]
GO
ALTER TABLE [dbo].[tbl_QuyenNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_QuyenNguoiDung_NghiepVu] FOREIGN KEY([NghiepVuID])
REFERENCES [dbo].[tbl_NghiepVu] ([NghiepVuID])
GO
ALTER TABLE [dbo].[tbl_QuyenNguoiDung] CHECK CONSTRAINT [FK_QuyenNguoiDung_NghiepVu]
GO
ALTER TABLE [dbo].[tbl_QuyenNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_QuyenNguoiDung_NguoiDung] FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[tbl_NguoiDung] ([NguoiDungID])
GO
ALTER TABLE [dbo].[tbl_QuyenNguoiDung] CHECK CONSTRAINT [FK_QuyenNguoiDung_NguoiDung]
GO
ALTER TABLE [dbo].[tbl_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP] FOREIGN KEY([LoaiSPID])
REFERENCES [dbo].[tbl_LoaiSP] ([LoaiSPID])
GO
ALTER TABLE [dbo].[tbl_SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP]
GO
ALTER TABLE [dbo].[tbl_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NCC] FOREIGN KEY([NCCID])
REFERENCES [dbo].[tbl_NhaCungCap] ([NCCID])
GO
ALTER TABLE [dbo].[tbl_SanPham] CHECK CONSTRAINT [FK_SanPham_NCC]
GO
/****** Object:  StoredProcedure [dbo].[TESTCONNECTION]    Script Date: 12/23/2019 23:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TESTCONNECTION]
AS
BEGIN
	declare @result bit
	set @result=0
	IF object_id('tbl_BangCap') is not null
		if object_id('tbl_BoPhan') is not null
		if object_id('tbl_ChucDanh') is not null
		if object_id('tbl_CTHD') is not null
		if object_id('tbl_DanToc') is not null
		if object_id('tbl_GioiTinh') is not null
		if object_id('tbl_HoaDon') is not null
		if object_id('tbl_HoSoNhanVien') is not null
		if object_id('tbl_LoaiSP') is not null
		if object_id('tbl_NghiepVu') is not null
		if object_id('tbl_NguoiDung') is not null
		if object_id('tbl_NhaCungCap') is not null
		if object_id('tbl_NhanVien') is not null
		if object_id('tbl_NhanVienBoPhan') is not null
		if object_id('tbl_NhanVienChucDanh') is not null
		if object_id('tbl_QuyenNguoiDung') is not null
		if object_id('tbl_SanPham') is not null
		if object_id('tbl_ThongTinCH') is not null
		if object_id('tbl_ThongTinCty') is not null
		if object_id('tbl_TinhThanh') is not null
		if object_id('tbl_TonGiao') is not null
		set @result=1
	select @result
END
GO
USE [master]
GO
